body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #3335;
}

header {
    background-color: #333;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo img {
    height: 40px; /* Ajuste conforme necessário */
}

.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.menu li {
    margin-left: 20px; /* Espaçamento entre itens do menu */
}

.menu a {
    text-decoration: none;
    color: white;
    font-size: 16px; /* Ajuste conforme necessário */
}

.menu a:hover {
    text-decoration: underline;
}
